node_modules
#npm
.npmrc

# pack
dist
lib
es
/types

# vscode
.vscode
.DS_Store


# ⚠️ REMOVE THIS ONLY IF YOU ARE IN A FEATURE BRANCH OF X
# dev________________________. ❌
#      x \___________________. ❌
#          x-feature\________. ✅
#
# In order to checkout an x-feature branch, use:
#
# git checkout -b x-feature x
#
# And track your experiments there.
# /x
# ☝🏾 THIS LINE WAS DISABLED FOR  x-tagged-templates branch
