@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

@font-face {
  font-family: "KISS";
  src: url("./die_nasty.ttf") format("truetype");
}

:root {
  --purpleHaze: rgb(119, 0, 255);
}

html,
body {
  /* colors */
  background: var(--purpleHaze);
  color: var(--purpleHaze);
  /* spacing */
  padding: 0;
  margin: 0;
  /* type */
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

body {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  /* size */
  height: 100vh;
  width: 100vw;
  cursor: grab;
}

#PHANTOM {
  /* size */
  width: 30%;
  height: 80%;
  /* spacing */
  padding: 1% 3%;
  margin: 1%;
  /* border */
  border-radius: 10px;
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  background: linear-gradient(145deg, #111, #000);
  /* 3D */
  box-shadow: 10px 10px 10px rgb(94, 0, 202);
}

h1 {
  margin-top: 0;
  font-family: "KISS", sans-serif;
  font-weight: 100;
}

#screen {
  /* overflow */
  overflow: scroll;
  /* colors */
  color: var(--purpleHaze);
  /* sizes */
  min-width: 100px;
  /* borders */
  border-style: hidden;
  border: 0px rgb(29, 29, 29) solid;
  /* spacing */
  padding: 12px 18px;
  margin-bottom: 12px;
  /* type */
  font-family: "KISS", sans-serif;
  text-align: right;
  font-size: calc(60px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* misc */
  user-select: none;
}

#digits {
  /* layour */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* size */
  width: 100%;
}

.digit,
.operator {
  /* colors */
  color: rgb(92, 92, 92);
  /* sizes */
  width: calc(100% * (1 / 3) - 12px - 16px - 4px);
  /* spacing */
  padding: 5px 0;
  padding-left: 16px;
  margin: 6px;
  /* border */
  border: 2px transparent solid;
  /* type */
  font-family: "Ubuntu", sans-serif;
  font-size: calc(11px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* neumorphism */
  border-radius: 30px 0px;
  background: rgb(10, 10, 10);
  box-shadow: 4px 4px 8px #000, -4px -4px 8px #080808;
  /* misc */
  cursor: pointer;
  user-select: none;
  /* animation */
  transition: ease-in-out 150ms;
}

.digit:hover,
.operator:hover {
  color: var(--purpleHaze);
  border: 2px var(--purpleHaze) solid;
}

.zero {
  width: calc(100% * (1 / 3) - 12px - 24px - 4px);
}

.operator {
  width: calc(100% * (0.5 / 3) - 12px - 24px - 4px);
  padding: 12px;
  /* type */
  text-align: center;
  font-family: "KISS", sans-serif;
}

.reset,
.equals {
  width: calc(100% * (1 / 2) - 12px - 8px);
  padding: 10px 0;
  /* type */
  color: var(--purpleHaze);
  text-align: center;
}

.reset b {
  filter: hue-rotate(255deg);
  pointer-events: none;
}

.equals {
  font-family: "KISS", sans-serif;
}

.reset:hover,
.equals:hover {
  color: var(--purpleHaze);
  border: 2px var(--purpleHaze) solid;
}

.highlighted {
  color: var(--purpleHaze);
  border: 2px var(--purpleHaze) solid;
}

#by-sidiousvic {
  color: rgb(46, 46, 46);
  /* type */
  font-size: calc(6px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

#by-sidiousvic b {
  font-family: "KISS", sans-serif;
  font-weight: 100;
}

#by-sidiousvic b:hover {
  color: var(--purpleHaze);
}

#made-w-phantom {
  /* colors */
  color: rgb(41, 41, 41);
  /* type */
  text-decoration: none;
  text-align: right;
  font-size: calc(4px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* animation */
  transition: ease-in-out 100ms;
}

#made-w-phantom b {
  font-family: "KISS", sans-serif;
  transition: ease-in-out 200ms;
}

#made-w-phantom b:hover {
  color: var(--purpleHaze);
}

@media only screen and (max-width: 500px) {
  #PHANTOM {
    padding: 9%;
    width: 100%;
    height: 90%;
  }

  #screen {
    font-size: 3rem;
  }

  .digit,
  .operator,
  .equals {
    padding: 10px 10px;
    font-size: 1rem;
  }
}