@import url("https://fonts.googleapis.com/css2?family=Mallanna&display=swap");

html,
body {
  /* colors */
  background: #131313;
  color: #ccc;
  /* spacing */
  padding: 0;
  margin: 0;
  /* type */
  font-family: "Mallanna", cursive;
  font-weight: 300;
}

body {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  /* size */
  height: 100vh;
  width: 100vw;
}

#PHANTOM {
  /* spacing */
  padding: 5%;
  margin: 1%;
  /* border */
  border: 1px rgb(220, 20, 20) dashed;
  /* layout */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  /* neumorphism */
  border-radius: 50px;
  background: linear-gradient(145deg, #141414, #111111);
  box-shadow: 5px 5px 10px #000000, -5px -5px 10px rgb(27, 27, 27);
}

h1 {
  margin-top: 0;
  user-select: none;
}

input {
  /* colors */
  color: #ccc;
  /* sizes */
  min-width: 240px;
  /* borders */
  border-style: hidden;
  border: 1px rgb(220, 20, 20) dashed;
  /* spacing */
  padding: 20px;
  margin-bottom: 20px;
  /* type */
  font-family: "Mallanna", cursive;
  font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* neumorphism */
  border-radius: 50px;
  background: #131313;
  box-shadow: inset 4px 4px 8px #000000, inset -4px -4px 8px rgb(27, 27, 27);
  /* misc */
  caret-color: rgb(220, 20, 20);
  user-select: none;
  outline-width: 0;
}

input::placeholder {
  color: #444;
}

#by-sidiousvic {
  color: #444;
  text-decoration: none;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  transition: ease-in-out 100ms;
}

#by-sidiousvic:hover {
  color: #eee;
  font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

#made-w-phantom {
  /* colors */
  color: #444;
  /* type */
  text-decoration: none;
  text-align: right;
  font-size: calc(9px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* animation */
  transition: ease-in-out 100ms;
}
#made-w-phantom:hover {
  transition: ease-in-out 200ms;
  color: #eee;
}

.todo-item {
  color: #ccc;
  /* layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* spacing */
  margin: 0;
  padding: 20px;
  /* type */
  font-weight: 300;
  font-size: calc(15px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  user-select: none;
  /* misc */
  cursor: pointer;
  /* animation */
  transition: ease-in-out 100ms;
}

.todo-item:hover {
  transform: scale(1.05);
  color: #eee;
}

.trash {
  margin: 0 10px;
  padding: 0;
  opacity: 0.2;
  transition: ease-in-out 100ms;
}

.trash:hover {
  opacity: 1;
}
