html,
body,
#PHANTOM {
  background: rgb(97, 0, 252);
  padding: 0;
  margin: 0;
  height: 100vh;
}

#pizza-box-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  height: 100%;
  width: 100%;
}

.slice {
  font-size: 6rem;
  user-select: none;
  cursor: grab;
}

.slice:hover {
  transform: scale(1.1);
}
