@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400&display=swap");

html,
body,
#PHANTOM {
  background: rgb(252, 0, 84);
  padding: 0;
  margin: 0;
  height: 100vh;
}

#pizza-box-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  height: 100%;
  width: 100%;
}

.slice {
  font-size: 6rem;
  user-select: none;
  cursor: grab;
}

.slice:hover {
  transform: scale(1.1);
}

#made-w-phantom {
  /* type */
  font-family: "MuseoModerno", cursive;
  font-weight: 300;
  /* spacing */
  margin: 0;
  margin-left: 20px;
  padding: 0;
  /* colors */
  color: rgb(255, 206, 217);
  /* type */
  text-decoration: none;
  text-align: right;
  font-size: calc(9px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* animation */
  transition: ease-in-out 100ms;
}
#made-w-phantom:hover {
  transition: ease-in-out 100ms;
  color: rgb(242, 239, 255);
}
